* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3434ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content {
    width: 750px;
    text-align: center;
    color: white;
}

.banner .content h2 {
    font-size: 3em;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.banner header .logo {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner header .toggle {
    width: 34px;
    height: 26px;
    background: url(images/toggle.png);
    background-size: cover;
    cursor: pointer;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    z-index: -1;

}

.about .contentbx {
    width: 50%;
    padding: 100px;
    background: #162c3b;
}

.about .contentbx .heading {
    color: white;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.about .contentbx p {
    color: white;
    font-size: 1em;
    font-weight: 200;
}

.about .imgbx {
    width: 50%;
    background-size: cover;
    background-position: top;

}

.about .imgbx img {
    width: 100%;
}

.services {
    padding: 100px;
    width: 100%;
    background: #12222d;
    margin-top: -105px;
}

.textbox {
    text-align: center;
    color: white;
}

.titlebox {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.textbox .ptitle {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 10px;
}

.services .container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.services .container .servicebox {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    margin-top: 20px;

}

.services .container .servicebox img {
    width: 130px;
}

.services .container h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}


.technology {
    background: #3f8ffc;
    padding: 100px;
    width: 100%;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology .techtext {
    max-width: 800px;
    color: white;
}

.technology .imgbx {
    max-width: 250px;
}

.technology .imgbx img {
    max-width: 100%;
}

.client {
    background: #162c3b;
    padding: 100px;
    text-align: center;
}

.client h2,
p {
    color: white;
    margin-bottom: 30px;
}

.client .imgbx {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.client .imgbx img {
    width: 200px;
    opacity: 0.25;
    cursor: pointer;
}

.client .imgbx img:hover {
    opacity: 1;
}


.testimonial {
    position: relative;
    padding: 100px;
    background: #12222d;
}

.testimonial .titlebox {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.testimonial .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial .container .contentbx {
    background: white;
    margin: 10px;
    padding: 50px 60px;
}

.testimonial .container .contentbx p {
    color: black;
    font-style: italic;
    text-align: left;
}

.testimonial .container .contentbx h3 {
    text-align: end;
    color: #3434ca;
}

.contact {
    padding: 100px;
    background: #162c3b;
    text-align: center;
}

.contact h2 {
    color: white;
}

.imgbx2 {
    background: url(images/bg21.jpg);
    background-size: cover;
    background-position: center;
}

.redgp {
    background: url(images/red.jpg) !important;
    background-size: cover;
    background-position: center;
}

.form .inputbx {
    margin: 40px;
}

.form .inputbx input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.form .inputbx input::placeholder {
    color: white;
}

.form .inputbx input[value=""] {
    color: white;
}

.form .inputbx textarea {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid white;
    padding: 10px 0;
    min-height: 150px;
}

.form .inputbx textarea::placeholder {
    color: white;
}

.form .inputbx textarea[value=""] {
    color: white;
}

.form .inputbx input[type="submit"] {
    width: 150px;
    background: white;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.footer {
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer p {
    margin-bottom: 5px;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    display: inline-block;
    text-decoration: none;
    margin: 0px 10px;
}

.footer ul li a img {
    filter: invert(1);
    max-width: 20px;
}

@media (max-width: 600px) {
    .banner header {
        padding: 20px 30px;
    }

    .banner .content {
        width: 100%;
        padding: 10px;
    }

    .banner .content h2 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }

    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .contentbx {
        width: 100%;
        padding: 30px;
    }

    .about .imgbx {
        width: 100%;
    }

    .about .imgbx img {
        width: 100%;
    }

    .services {
        padding: 30px;
    }

    .services .container .servicebox {
        width: 250px;
        height: 243px;
    }

    .services .container .servicebox img {
        width: 185px;
    }

    .technology {
        flex-direction: column;
    }

    .technology .techtext {
        width: 100%;
        text-align: center;
    }

    .technology .imgbx {
        max-width: 200px;
    }

    .client {
        padding: 30px;
    }

    .client .imgbx {
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
    }

    .testimonial {
        padding: 30px;
    }

    .testimonial .container {
        flex-direction: column;
    }

    .testimonial .container .contentbx {
        padding: 24px 26px;
    }

    .contact {
        padding: 30px;
    }

    .about .contentbx {
        padding: 10px;
    }

    .form .inputbx textarea {
        min-height: 100px;
    }

    .footer {
        padding: 10px;
        flex-direction: column;
    }

}

@media (max-width: 768px) {

    .banner header {
        padding: 30px 50px;
    }

    .banner .content {
        width: 500px;
    }

    .banner .content h2 {
        margin-bottom: 10px;
    }

    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .contentbx {
        width: 100%;
        padding: 50px;
    }

    .about .imgbx {
        width: 100%;
    }

    .about .imgbx img {
        width: 100%;
    }

    .services {
        padding: 50px;
    }

    .services .container {
        justify-content: center;
    }

    .services .container .servicebox {
        width: 250px;
        height: 300px;
    }

    .technology {
        flex-direction: column;

    }

    .technology .techtext {
        width: 100%;
        text-align: center;
    }

    .technology .imgbx {
        max-width: 250px;
    }

    .client {
        padding: 50px;
    }

    .client .imgbx {
        justify-content: center;
        gap: 40px;
        margin-top: 30px;
    }

    .testimonial {
        padding: 50px;
    }

    .testimonial .container .contentbx {
        padding: 24px 26px;
    }

    .contact {
        padding: 30px;
    }

    .about .contentbx {
        padding: 10px;
    }

    .form .inputbx textarea {
        min-height: 150px;
    }

    .footer {
        padding: 10px;
        flex-direction: column;
    }
}

@media (max-width: 992px) {

    .about {
        flex-direction: column;
    }

    .about .contentbx {
        width: 100%;
    }

    .about .imgbx {
        width: 100%;
    }

    .services .container .servicebox {
        width: 250px;
        height: 300px;
    }

    .services .container {
        justify-content: center;
        gap: 10px;
    }


    .client .imgbx {
        justify-content: center;
        gap: 40px;
    }

}

@media (max-width: 1200px) {
     .about {
    flex-direction: column;
}
.about .contentbx {
    width: 100%;
}

.about .imgbx {
    width: 100%;
}


}